
body
{
    background: url(https://img.freepik.com/free-vector/black-dark-3d-low-poly-geometric-background_79145-393.jpg?size=626&ext=jpg);
}
#clockcontainer
{
    position: relative;
    margin: 5rem auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    box-shadow: #fff 0 0 30px 0px;
    border-radius: 50%;
}
#hour, #minute, #second ,#dot
{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transform-origin: bottom;
}
#dot
{
    width: 5%;
    height: 5%;
    top: 47.4%;
    left: 47.85%;
    opacity: 1;
    border-radius: 50%;
    background-color: black;
    z-index: 1;
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;  
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
}
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;   
}